aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
asyncclick==8.4.2.1
attrs==26.1.0
cffi==2.1.1
cryptography==50.0.1
ecdsa==0.19.2
frozenlist==1.8.0
idna==3.19
mashumaro==3.22
multidict==6.8.0
passlib==1.7.4
prometheus_client==0.23.1
propcache==0.5.2
pycparser==3.0
python-dotenv==1.2.1
python-kasa @ git+https://github.com/ZeliardM/python-kasa.git@e7084472972f08f2e2235b342f3964aedbfaeb3b
six==1.17.0
typing_extensions==4.16.0
yarl==1.24.5
